 html, body{
    width:100%;
    height:100%;
 }
 body{

    background-color: #000;
}
.mySlides {
    height:50vh;
width:100%

}

#slideshow-container{
    margin:0px;
    width: 100%;
    height:100%;


}
